<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de LEDs (Bonito!)</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
    <main class="controls-wrapper">



        <div class="led-card" data-led-id="1">
            <h3>LED 1(Verde)<span class="led-name">(Verde)</span></h3>
            <div class="led-indicator green-led" id="led-indicator-1"></div>
            <div class="actions">
                <button class="on" onclick="controlled('1','on')">Ligar</button>
                 <button class="off" onclick="controlled('1','off')">Desligar</button>
            </div>
        </div>

        <div class="led-card" data-led-id="2">
            <h3>LED 2(Vermelho)<span class="led-name">(Vermelho)</span></h3>
            <div class="led-indicator red-led" id="led-indicator-2"></div>
            <div class="actions">
                <button class="on" onclick="controlled('2','on')">Ligar</button>
                 <button class="off" onclick="controlled('2','off')">Desligar</button>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2023 Seu Nome/Empresa. Todos os direitos reservados.</p>
    </footer>

    <script src="script.js"></script>
    <script>
    function controlled(ledNum,action) {
    //A função fetch envia uma requisição para o nosso servidor python
    fetch('/control/$(ledNum)/$(action)').then(Response => Response.text())
    .then(data => (console.log(data)
    )).catch(console.error('Erro',error)
    )
    }
    </script>
</body>
</html>